* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow:hidden;
}
#main {
  width: 100vw;
  height: 100vh;
  
}
#headingdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5vh;
  font-size: 13px;
}

#headingname {
  font-style: oblique;
  text-align: center;
  font-size: 5vw;
  color: crimson;
  font-weight: 900;
  letter-spacing: 5px;
}
#mainheading {
  text-align: center;
  width: 80vw;
  word-break: keep-all;
  color: beige;
  margin-bottom: 2vw;
  line-height: 4vh;
  font-weight: 200;
  font-weight: 400;
}
#points {
  margin: 10px;
  color: beige;
}
li {
  margin: 15px;
  border: none;
  cursor: pointer;
}
li:hover {
  color: crimson;
}
#headingpara {
  text-align: center;
}
#paras {
  margin: 20px;
  color: beige;
}
#last-span {
  color: rgb(58, 58, 170);
}
#logo {
  width: 10vw;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo a {
  text-decoration: none;
}
#logo i:hover {
  color: rgb(246, 242, 242);
}
#logo i {
  color: crimson;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
}



@media screen and (max-width: 680px) {
 #main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 }

  #headingname {
    font-size: 20px;
    margin-bottom: 10px ;

  }

  
  #mainheading {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    width: 80vw;
  }
  #list{
    font-size: 10px;
    padding: 0px;
  }
  li{
    padding: 1px;
    margin: 5px;
  }
  #paras{
    font-size: 9px;
    line-break: normal;
    text-align: left;
  }
  #logo {
   display: flex;
   justify-content: space-between;
   width: 30vw;
  }
  #logo a i{
    font-size: 13px;   
  }
}
